.box-table {
    display: table;
    width: 100%;
    outline: 1px solid #c00;
    overflow: hidden;
    /*width: 800px;*/
}

.box-row {
    display: block;
}

.box-col {
    display: table-cell
}

.box {
    display: inline-block;
    float: left;
    text-align: left;
    vertical-align: top;
    padding: 0;
    height: 2em;
}

.box_menu {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    padding: 0;
    height: 2em;
}

.width80 {
    width: 80%;
}

.width20 {
    width: 20%;
}

.width100 {
    width: 100%;
}




