.box-table {
    display: table;
    width: 100%;
    overflow: hidden;
}

.box-row {
    display: block;
}

.box-col {
    display: table-cell;
    vertical-align: top;
}

.box {
    display: inline-block;
    float: left;
    text-align: left;
    padding: 0;
    height: 2em;
}

.width80 {
    width: 80%;
}

.width20 {
    width: 20%;
}

.width100 {
    width: 100%;
}

a {
    /*padding-right: 5px;*/
    margin-right: 5px;
}

li {
    padding: 5px;
}

input {
    padding: 0px;
    margin:  2px;
    vertical-align: bottom;
}

.button_panel {
    text-align: center;
    display: inline-block;
    float: left;
    padding: 0;
    margin: 15px;
}

.button {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    vertical-align: bottom;
    padding: 4px 6px 4px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

