<web-app>
  <display-name>News</display-name>

  <servlet>
    <servlet-name>newsServlet</servlet-name>
    <servlet-class>com.epam.news.servlet.NewsServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>newsServlet</servlet-name>
    <url-pattern>/app/*</url-pattern>
  </servlet-mapping>

  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
      classpath:spring/spring-app.xml
<!--      classpath:spring/spring-db.xml-->
    </param-value>
  </context-param>

  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>


</web-app>
