<web-app>
  <display-name>News</display-name>

  <servlet>
    <servlet-name>newServlet</servlet-name>
    <servlet-class>com.epam.news.servlet.NewServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>newServlet</servlet-name>
    <url-pattern>/list</url-pattern>
  </servlet-mapping>

</web-app>
